<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/edx-js-problems/styles.css">
    <link href="https://fonts.googleapis.com/css?family={{font}}" rel="stylesheet">
    <style>

        /*
        in server :
            const color = inverted ? "#fff" : primaryColor
            const bgColor = inverted ?  primaryColor : "#fff"
        */

        .problem-external-box  {
            background-color: "{{bgColor}}"
        }

        .checkbox-circle, .checkbox-text {
            color: "{{color}}""
        }

    </style>
</head>

<body>
    <script src="https://studio.edx.org/c4x/edX/DemoX/asset/jschannel.js"></script>
    <script defer>

        var try1 = (function () {
          var dbCorrects = [{{ corrects}}];
          console.log({dbCorrects})

            let channel;

            if (window.parent !== window) {
                channel = Channel.build({
                    window: window.parent,
                    origin: "*",
                    scope: "JSInput"
                });

                channel.bind("getGrade", getGrade);
            }

            function getGrade() {
                let corrects = [];
                // let correct = true;
                for (let i = 0; i < dbCorrects.length; i++) {
                    corrects.push(document.getElementById("option" + i).checked);
                }
                var isCorrect = (JSON.stringify(corrects) === JSON.stringify(dbCorrects))
                // correct = correct ? "correct" : "";
                return JSON.stringify({
                    answer: isCorrect ? "correct" : ""
                });
            };

            return {
                getGrade: getGrade,
            };
        }());

    </script>
    <script>
        // let elem = document.querySelector("html");
        <!--elem.style.setProperty("--primary-color", "{{primaryColor}}");-->




    </script>
        {{#if questionText}}
        <div class="question-text">
            <p class={{rtl}}
                {{questionText}}
            </p>
        </div>
        {{/if}}
    <div class="problem-external-box" {{rtl}}>
        {{#each options}}
            <input type={{../type}} id="option{{@index}}" value={{@index}} name="example">
            <label class={{../type}} for="option{{@index}}">{{this.text}}</label>
        {{/each}}
    </div>
</body>

</html>