<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="../../multipleChoice.css">
    <link href="https://fonts.googleapis.com/css?family={{fontFamily}}" rel="stylesheet">

</head>

<body>
    <script src="https://studio.edx.org/c4x/edX/DemoX/asset/jschannel.js"></script>
    <script defer>

        var try1 = (function () {
          var dbCorrects = [{{ corrects}}];
          console.log({dbCorrects})

            let channel;

            if (window.parent !== window) {
                channel = Channel.build({
                    window: window.parent,
                    origin: "*",
                    scope: "JSInput"
                });

                channel.bind("getGrade", getGrade);
            }

            function getGrade() {
                let corrects = [];
                // let correct = true;
                for (let i = 0; i < dbCorrects.length; i++) {
                    corrects.push(document.getElementById("option" + i).checked);
                }
                var isCorrect = (JSON.stringify(corrects) === JSON.stringify(dbCorrects))
                // correct = correct ? "correct" : "";
                return JSON.stringify({
                    answer: isCorrect ? "correct" : ""
                });
            };

            return {
                getGrade: getGrade,
            };
        }());

    </script>
    <script>
        let elem = document.querySelector("body");
        elem.style.setProperty("--primary-color", "{{primaryColor}}");
        elem.style.setProperty("--primary-font", "{{fontFamily}}");
    </script>
    <div class="p-problem-external-box">
        {{#if questionText}}
        <div class="question-text">
            <p class={{rtl}}>
                {{questionText}}
            </p>
        </div>
        {{/if}}
        <div class="multiple-choice-box {{rtl}} {{problemLayout}} {{inverted}}">
            {{#each options}}
                <input class="radio-input" type={{../type}} id="option{{@index}}" value={{@index}} name="options"><!--
                --><label class="radio-label {{../type}}" for="option{{@index}}"><!--
                    -->{{#if this.image}}<!--
                    --><div class="image-container"><!--
                        --><div class="preview-image"><!--
                            --><img
                                src={{this.image}}
                            /><!--
                        --></div><!--
                    --></div><!--
                    -->{{/if}}<!--
                    --><p class="label-input">{{this.text}}</p><!--
                --></label>
            {{/each}}
        </div>
    </div>
</body>

</html>




