<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    {{!-- <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/edx-js-problems/styles.css"> --}}
    <link rel="stylesheet" href="../../multipleChoice.css">

</head>

<body>
    <script src="https://studio.edx.org/c4x/edX/DemoX/asset/jschannel.js"></script>
    <script defer>

        var try1 = (function () {
          var dbCorrects = [{{ corrects}}];
          console.log({dbCorrects})

            let channel;

            if (window.parent !== window) {
                channel = Channel.build({
                    window: window.parent,
                    origin: "*",
                    scope: "JSInput"
                });

                channel.bind("getGrade", getGrade);
            }

            function getGrade() {
                let corrects = [];
                // let correct = true;
                for (let i = 0; i < dbCorrects.length; i++) {
                    corrects.push(document.getElementById("option" + i).checked);
                }
                var isCorrect = (JSON.stringify(corrects) === JSON.stringify(dbCorrects))
                // correct = correct ? "correct" : "";
                return JSON.stringify({
                    answer: isCorrect ? "correct" : ""
                });
            };

            return {
                getGrade: getGrade,
            };
        }());

    </script>
    <script>
        let elem = document.querySelector("html");
        elem.style.setProperty("--primary-color", "{{primaryColor}}");
    </script>
    <div class="problem-external-box">
        {{#if questionText}}
        <div class="question-text">
            <p class={{rtl}}
                {{questionText}}
            </p>
        </div>
        {{/if}}
        <div class="multiple-choice-box ltr" {{rtl}}>
            {{#each options}}
                <input class="radio-input" type={{../type}} id="option{{@index}}" value={{@index}} name="example">
                <label class="radio-label {{../type}}" for="option{{@index}}">{{this.text}}</label>
            {{/each}}
        </div>
    </div>
</body>

</html>




