<!doctype html>
<html lang="en" style="overflow: hidden">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="../../multipleChoice.css">
    <link href="https://fonts.googleapis.com/css?family={{fontFamily}}" rel="stylesheet">

</head>

<body>
    <script src="https://studio.edx.org/c4x/edX/DemoX/asset/jschannel.js"></script>
    <script defer>

        var try1 = (function () {
          var dbCorrects = [{{ corrects}}];

            let channel;

            if (window.parent !== window) {
                channel = Channel.build({
                    window: window.parent,
                    origin: "*",
                    scope: "JSInput"
                });

                channel.bind("getGrade", getGrade);
                channel.bind("getState", getState);
                channel.bind("setState", setState);
            }

            // internal fn to get an array of answers marked correct
            function getCorrects() {
                let corrects = [];
                for (let i = 0; i < dbCorrects.length; i++) {
                    corrects.push(document.getElementById("option" + i).checked);
                };
                return corrects;
            }


            function getGrade() {
                var corrects = getCorrects();
                var isCorrect = (JSON.stringify(corrects) === JSON.stringify(dbCorrects))
                // correct = correct ? "correct" : "";
                return JSON.stringify({
                    answer: isCorrect ? "correct" : ""
                });
            };

            function getState() {
                corrects = getCorrects();
                return JSON.stringify({state: corrects});
            };

            function setState() {
                var answers = arguments.length === 1 ? JSON.parse(arguments[0]) : JSON.parse(arguments[1]);
                answers = answers["state"];
                if (answers) {
                    const options = document.getElementsByClassName("radio-input");
                    Array.from(options).forEach(
                        function(option, i) {
                            option.checked = answers[i];
                        }
                    )
                }
            };

            return { getGrade, getState, setState };
        }());

    </script>
    <script>
        let elem = document.querySelector("body");
        elem.style.setProperty("--primary-color", "{{primaryColor}}");
        elem.style.setProperty("--primary-font", "{{fontFamily}}");
    </script>
    <div class="p-problem-external-box">
        {{#if questionText}}
        <div class="question-text">
            <p class={{rtl}}>
                {{{questionText}}}
            </p>
        </div>
        {{/if}}
        <div class="multiple-choice-box {{rtl}} {{problemLayout}} {{inverted}}">
            {{#each options}}
                <input class="radio-input" type={{../type}} id="option{{@index}}" value={{@index}} name="options"><!--
                --><label class="radio-label {{../type}}" for="option{{@index}}"><!--
                    -->{{#if this.image}}<!--
                    --><div class="image-container"><!--
                        --><div class="preview-image"><!--
                            --><img
                                src={{this.image}}
                            /><!--
                        --></div><!--
                    --></div><!--
                    -->{{/if}}<!--
                    --><p class="label-input">{{{this.text}}}</p><!--
                --></label>
            {{/each}}
        </div>
    </div>
</body>

</html>




